{# login模态框 #}

{% load staticfiles %}
<body>
<script src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-reset.css' %}">

<!--模态框的出现和隐藏-->
<div aria-hidden="true" aria-labelledby="myModalLabel"
     role="dialog" tabindex="-1" id="myModal-login" class="modal fade">
    <div class="modal-dialog" role="form">
        <!--模态框内容-->
        <div class="modal-content">
            <!--为input框等设置-->
            <div class="login-form-container">
                <!--头部-->
                <div class="modal-header">
                    <h4 class="modal-title">登录</h4>
                    <button aria-hidden="true" class="close" type="button" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        {{ form.captcha }}
                        <a href="javascript:void(0);"><img id="captcha_img" src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeCAIAAABoq03CAAACcUlEQVR4nO1aQXLCMAxcMX1A4cwM
    Fz7QQzu8hA8wPKIz/QB/gFM/U9pLf1J+oB4MxrHl2I4dJzDscCAeSZbWliInIWbGBURkXnYAEQHI
    NHKXyGX2gUhMhnYgAJUidwCB6FKxFbFzNwknEH03sflQM0uISE33qNGV8BSUaF//Ua1Tt56n705J
    9XJl+rkOKBVYfktaB7KXkd7nBFktUYgI4IvZUlaTIZcOFWd7TuVvpaB68aQmGozrLmTVzNbMudR2
    HkNpST6wiJHrJqY4mLmDZe1PZY5bXE0mWnS913g6GGfmnm4ewXl9Foodwa3AiGBN9/5uj7jC6o+r
    61NRv/ncHLfQEP74SA6kFPqqtipCy7bvXqSFdV1y1ZvbhAH50tNEYaijmY4ofGAJmmgR0X1V0Bhw
    rsUGoXZ11mvADMuyFrS8qt9mWA7o/1FEi5y2s7xYYLlkRZ2pJNYvZiYSik8KZHf0YGbrEq/uleR0
    xPnNwCuwbyrK96jjkV1HfK4B8o+ZPz+9KoPDezLsvHQXXQbegB+OSOTUgp66O5XK8zNOpzTFgphA
    uFNfbywugha1GPN3sEabKyou7molaqUWFgA9shyzLycwCIVBkw/xjJvY76/UrNcNa+2KX1+uA+cd
    fTgAwN9fVEfY6yPoGDbkProDlU6HoMdBhO32OjKbCerbrWjTNxcAbDYAMJ1eqRex2xVoPPLPvWN5
    xmiV6d9fvLw0RkR5Ey2SzEM+Tjq7MRKibxrucxW3I5RfztZ/95wzo6Vb33m30rrbV3452/c2d7lw
    Z4zn6yaS8lE6gCofWD2IroSxf6nUjhv6jum2ic5Px2pL9Q+TVYba1BF5qAAAAABJRU5ErkJggg==
    ">
                        </a>
                        <div class="button-box">
                            <label>
                                <input type="checkbox" value="remember-me">记住密码
                            </label>
                            <span class="pull-right">
                                <a href="#" style="color: blue;"> 忘记密码?</a>
                            </span>
                            <button class="btn-block" style="height:50px;" type="submit">登录</button>
                            <p class="msg"></p>
                            {% if msg %}
                                <div class="alert aler-block alert-danger fade in">
                                    <button data-dismiss="alert" class="close close-sm"
                                            type="button">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>提醒！</strong>{{ msg }}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {# 得到验证码图片 #}
    get_captcha_img();
    $("#captcha_img").click(get_captcha_img);

    function get_captcha_img() {
        $.ajax({
            url: '{% url 'apis:get_captcha' %}',
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                $('#captcha_img').attr('src', data);
            }
        });
    }
        // 这里在form中定义了，如果没定义可以用jquery添加事件
{#    $("#id_captcha").blur(check_captcha);#}

    // 当失去焦点时检查验证码
    function check_captcha() {
        var captcha_code = $('#id_captcha').val();
        if (captcha_code.length == 0){
            return false
        }
        $.ajax({
            url: '{% url 'apis:check_captcha' %}',
            type: 'GET',
            dataType: 'json',
            data: {"captcha_code": captcha_code},
            success: function (data) {
                if(data.code == 400){
                     $('.msg').html("验证码错误");
                }else{
                    $('.msg').html("");
                }
            }
        });
    };
</script>
</body>
