{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    注册-租好物
{% endblock %}

{% block load_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row ptb-20">
            <label class="col-lg-6 col-md-12 ml-auto mr-auto">
                <label class="register-form-container">
                    <div class="login-register-tab-list nav">
                        <h4> 注册 </h4>
                    </div>
                    <form id="register_form">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        {{ form.password2 }}
                        {{ form.mobile }}
                        <label>
                            {{ form.mobile_captcha }}
                            {# 给发送短信按钮添加动作 #}
                            <input onclick="sendmessage(this,60);" type="button" value="获取短信验证码"
                                   class="btn pull-right" style="width: 110px;padding: 0;margin-left: 15px;"/>
                        </label>

                        <div class="button-box">
                            <button class="btn-block" style="height:50px;" type="submit">注册</button>
                            <span class="pull-right" style="line-height: 3;"> 已有帐号，请 <a
                                    data-toggle="modal" href="#myModal-login" style="color: blue;"> 登录 </a></span>
                        </div>
                        <div class="alert alert-block alert-danger fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>提醒!</strong> 错误提示信息~~
                        </div>
                    </form>
                </label>
                </label>
            </div>
        </div>
    </div>
    {% include 'login.html' %}
{% endblock %}


